/****** GENERAL RULES ******/

body {
  font-family: 'Roboto', sans-serif;
}


.all-width {
  padding: 0 10%;
  /* margin: auto; */
  /* border: solid black 1px; */
  /* background-color: blue; */
}

/****** DEBUG RULES ******/

.row {
  /* height: 500px; */
}

[class*="col-"] {
  border: solid pink 1px;
}


/****** NAVIGATION SECTION ******/

.navbar.navbar-default {
  background-color: white;
  position: fixed;
  z-index: 10;
  width: 100%;
  border-radius: 0;
  border: 0;

}

.navbar-default .navbar-nav>li>a {
  color: #031C4E;
  font-weight: 500;
}


/****** HEADER SECTION ******/

/* jumbotron general */

header section:first-child {
  background-image: url("../img/bg-home.jpg");
  background-size: cover;
  background-position: bottom;
  color: white;
  margin-bottom: 0;

}


.jumbotron .row:first-child {
  padding: 90px 0 20px 0;
}

/* jumbotron text */

.jumbotron [class*="col-"]:first-child {
  /* padding: 100px 0; */
}


/* jumbotron form */

.jumbotron [class*="col-"]:nth-child(2) div {
  background-color: white;
  /* height: 100px; */
  border-radius: 4px;
  color: #031C4E;
  padding: 10px 0;
}

.jumbotron [class*="col-"]:nth-child(2) span {
  color: #1069FF;
}

/* logos row */

header section:nth-child(2) {
  background-color: #F3F5F9;
  text-align: center;
  padding: 0% 10% 1% 10%;

}


header section:nth-child(2) img {
  height: 90px;
  padding: 5px

}

header section:nth-child(2) [class*="col-"]:last-child img {
  /* height: 100px; */
  padding: 25px 0;
}


header section:nth-child(2) .row {
  text-align: center;
  background-color: #F3F5F9;
}

header section:nth-child(2) .img-responsive {
  display: inline-block;

}

/***** MAIN SECTION *****/

/*** deploy subsection ***/

main section:first-child [class*="col-"] > p {
  color: #75809A;
  font-weight: 500;
}

main section:first-child .row:nth-child(2) [class*="col-md-2"] {
  color: #75809A;
  border-left: solid 2px #75809A;
  padding: 0 5px;

}

main section:first-child .text-center > div > p {
  font-size: 20px;

}

/*** designed subsection ***/

main section:nth-child(2) {
  background-color: #F3F5F9;
}


main section:nth-child(2) [class*="col-"] > p {
  color: #75809A;
  font-size: 20px;
  font-weight: 500;
}

/* <!-- CAROUSELLLLLLLLLLL --> */

.carousel {
  /* padding: 50px; */

}
