

.container {
  /* background-color:red; */
  height: 100px;
}

section {
  background-color: blue;
}

.container-fluid {
  /*  */
  height: 100px;
}

body {
  background-color: lightgreen;
}

.row {
  /* background-color: yellow; */
}

.margin-equalizer {
  background-color: pink;
  border: solid black 1px;
  height: 100px;
  width: 80%;
  margin: auto;
}

.row {
  background-color: pink;
  border: solid black 1px;
  height: 100px;
  /* width: 80%; */
  margin: auto;
}

[class*="col-"] {
  background-color: lightblue;
  height: 50%;
}
