/****** GENERAL RULES ******/

body {
  font-family: 'Roboto', sans-serif;
}


.all-width {
  padding: 0 10%;

}

/****** NAVIGATION SECTION ******/


.navbar.navbar-default {
  background-color: white;
  position: fixed;
  z-index: 10;
  width: 100%;
  border-radius: 0;
  border: 0;

}

.navbar-default .navbar-nav>li>a {
  color: #031C4E;
  font-weight: 500;
  padding: 15px 10px;
}

.navbar-default .navbar-nav>.sign>a {
  color: #1069FF;
  border: solid 1px #1069FF;
  padding: 6px 10px;
  border-radius: 5px;
  vertical-align: middle;
  margin-top: 9px;

}


/****** HEADER SECTION ******/

/* jumbotron general */

header section:first-child {
  background-image: url("../img/bg-home.jpg");
  background-size: cover;
  background-position: bottom;
  color: white;
  margin-bottom: 0;

}


.jumbotron .row:first-child {
  padding: 90px 0 20px 0;
}

/* jumbotron text */

.jumbotron [class*="col-"]:first-child {

}


/* jumbotron form */

.jumbotron [class*="col-"]:nth-child(2) div {
  background-color: white;
  border-radius: 4px;
  color: #031C4E;
  padding: 10px 0;
}

.jumbotron [class*="col-"]:nth-child(2) span {
  color: #1069FF;
}

.jumbotron [class*="col-"]:nth-child(2) .form-group {
  padding: 0 20px;
}

.jumbotron [class*="col-"]:nth-child(2) .btn-block {
  width: 90%;
  margin: auto;
  margin-top: 10px;
}

.jumbotron [class*="col-"]:nth-child(2) .btn-block>img {
  width: 20px;
  float: left;

}

/* logos row */

header section:nth-child(2) {
  background-color: #F3F5F9;
  text-align: center;
  padding: 0% 10% 1% 10%;

}


header section:nth-child(2) img {
  height: 90px;
  padding: 5px

}

header section:nth-child(2) [class*="col-"]:last-child img {
  /* height: 100px; */
  padding: 25px 0;
}


header section:nth-child(2) .row {
  text-align: center;
  background-color: #F3F5F9;
}

header section:nth-child(2) .img-responsive {
  display: inline-block;

}

/***** MAIN SECTION *****/

/*** deploy subsection ***/

@media all and (min-width:766px) {

  .col-md-8 > .row > [class*="col-md-6"] {
    min-height: 220px;

  }
}


main section:first-child {
  padding: 60px 10% 60px 10%;
}


main section:first-child [class*="col-"] > p {
  color: #75809A;
  font-weight: 500;

}

main section:first-child .row:nth-child(2) [class*="col-md-4"] {
  color: #75809A;
  border-left: solid 2px #75809A;
  padding: 0 5px;

}

main section:first-child .text-center > div > p {
  font-size: 20px;

}

/*** designed subsection ***/

main section:nth-child(2) {
  background-color: #F3F5F9;
  padding: 50px 0;
}


main section:nth-child(2) [class*="col-"] > p {
  color: #75809A;
  font-size: 20px;
  font-weight: 500;
}

/* carousel */

.carousel {
  margin: 40px 0;

}

.carousel .dots {
  display: inline-block;
  color: #1069FF;
  font-size: 10px;
}

.carousel-control {
  background-image: none !important;
  color: rgb(14,13,111);
  opacity: inherit;

}

.carousel-control.right {
  right:  -80px;

}

.carousel-control.left {
  left: -80px;
}

.carousel-indicators {
  position: absolute;
  bottom: -40px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;

}

.carousel-indicators .active {
  background-color: rgb(24, 128, 255) !important;
}

.carousel-indicators li  {
  border: solid 1px rgb(24, 128, 255) !important;
}

.carousel-caption {
  position: static;
  bottom: 40px;
  color: rgb(14,13,111);

}

/*** features subsection ***/

main section:nth-child(3) {
  padding: 60px 10% 60px 10%;
}

main section:nth-child(3) .row:nth-child(2) {
  text-align: left;
  font-weight: 500;
}

/*** service subsection ***/

main section:nth-child(4) {
  background: rgb(14,13,111);
  background: linear-gradient(0deg, rgba(14,13,111,1) 8%, rgba(7,71,197,1) 50%);
  color: white;

}

main section:nth-child(4) table td:last-child {
  font-weight: 600;
  color: #03dffc;
}

/** development subsection **/

main section:nth-child(5) {
  background-color: #F3F5F9;
  color: #031C4E;
  padding: 50px 0;

}

.carousel-myitem {
  padding: 30px 30px;
  width: 100%;
  background-color: white;
  text-align: center;
}

.carousel-myitem h3 {
  color: #75809A;
  font-size: 20px;
}

/** get started subsection **/

main section:nth-child(6) {
  background: linear-gradient(0deg, rgba(14,13,111,1) 8%, rgba(7,71,197,1) 50%);
  color: white;
  padding: 50px 0;
}

main section:nth-child(6) .btn {
  color: rgb(24, 128, 255);
  font-weight: 500;
  background-color: white;
  margin: 10px 0;
}

main section:nth-child(6) h1 {
  font-size: 28px;
}

/***** FOOTER SECTION *****/

footer {
  padding: 100px 0;
  background-color: #031C4E;
  color: #75809A;

}

footer ul {
  list-style: none;
  text-transform: capitalize;
  padding-inline-start: 0px;
  padding: 10px 0;
}

footer ul > li:first-child {
  color: white;
  font-weight: 600;
}
